
img{
  border:5px solid white;
  border-radius: 16px;
}
a{
  color:white;
  text-decoration:underline;
}
.top{
  background-color:white;
}
ul{
  list-style-type: none;
  margin: 0;
  padding:5px;
  overflow: hidden;
  background-color:#c94c4c;
  width: 100%;
  position:sticky;
  top:30px;
  margin-bottom: 20px;

}
li{
  color:white;
  float:left;
  display:inline;
  text-indent: 100px;
}
.header{
  background-image:url("https://images.unsplash.com/photo-1471286274405-579f8d7132d8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGJhY2tncm91bmQlMjBicmlnaHQlMjByZWRkaXNoJTIwb3IlMjBwaW5raXNofGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  padding:30px;
}
.center{
  text-align:center;
  background-image:url("https://images.unsplash.com/photo-1542966336-22953b5f7404?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fG1hcm9vbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  width:100%;
  margin:0;
  padding:0;
  line-height:2px;
  border-bottom: 3px solid #c94c4c;
  font-size:150%;
  padding-bottom:50px;
  padding-top:50px;
  color:white;
}
h2{
  font-family:"Arial";
  font-size:80%;
  padding-top:10px;
  line-height:30px;
}

.bottom{
  background-color:white;
  color:#50394c;
  font-weight:bold;
  text-indent: auto;
  text-align: justify;
  margin-top:3px;

  display: block;
  margin-left:auto;
  margin-right:auto;
  width:70%
}
.educ{
  background-color:#eea29a;
  opacity:0.9;
  padding:0;
  margin:0;
}
.work{
  background-color:#f7cac9;
  padding-bottom: 10px;
}
