table,td{
  border: 2px solid #c94c4c;
  border-collapse:collapse;
}
table{
  width:70%;
  margin:20px;
  background-color:white;
  opacity:0.8;
}
.talents table{
  width:50%
  float:left;
}
body{
  background-image:url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fGJhY2tncm91bmQlMjBpbWFnZXN8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60")
}
img{
  float:right;
  position:sticky;
  top:0;
  border: 9px solid white;
}
@media screen and(min-width:480px) and (max-width:600px){


}
@media screen and (min-width:601px){

}
