
img{
  border:1px solid white;
}
.top{
  background-color:white;
}
ul{
  list-style-type: none;
  margin: 0;
  padding:5px;
  overflow: hidden;
  background-color:#eda939;
  width: 100%;
  position:sticky;
  top:30px;
  margin-bottom: 20px;

}
li{
  color:white;
  float:left;
  display:inline;
  text-indent: 100px;
}
.center{
  text-align:center;
  background-color:white;
  width:100%;
  margin:0;
  padding:0;
  line-height:2px;
  border-bottom: 3px solid orange;
  font-size:150%;
  padding-bottom:50px;
  padding-top:50px;
}
h2{
  font-family:"Arial";
}

.bottom{
  background-color:#eda939;
  color:white;
  text-indent: 240px;
  text-align: justify;
  margin-top:3px;
}
