
img{
  border:1px solid white;
}
.top{
  background-color:white;
  border-bottom:3px solid orange;
}
.center{
  text-align:center;
  background-color:white;
  width:100%;
  margin:0;
  padding:0;
  line-height:2px;
  border-bottom: 3px solid orange;
}

.bottom{
  background-color:orange;
  color:white;
  text-indent: 240px;
  text-align: justify;
  margin-top:3px;
}
